@model IEnumerable<WebApplication1.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<center>
    <div class="align-content-center">
        <div class="container">
            <div class="card shadow rounded mx-3" style="width: 35rem; border: 1px solid #863F17; background-color: #F8FAE5;">
                <img src="~/Uploads/@Model.ImgUrl" height="300px" class="card-img-top" alt="product Img" />
                <div class="card-body">
                    <form asp-action="Details" method="post">
                        <h2> Name: @Model.Name</h2>
                        <div class="text-start">
                            <p>Description: @Model.Description</p>
                            <p>Count: @Model.Count</p>
                            <p>Price: @Model.Price</p>
                            <p>Category Id: @Model.CategoryId</p>
                        </div>
                     
<div class="container ">
    <div class="row">
        <div class="col-6">
            <h1>All Product </h1>
        </div>
        <div class="col d-flex justify-content-end">
            <button class="btn btn-outline-success " onclick="window.location.href='@Url.Action("Create")'"> Create New Product </button>
        </div>
    </div>
</div>

<div class="container ">

    <div id="productTableContainer">
    </div>

    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center " id="pagination"></ul>
        </nav>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            loadProductData(1);

            function loadProductData(pageNumber) {
                $.ajax({
                    url: '/Product/GetAll',
                    type: 'GET',
                    data: { pageNumber: pageNumber, pageSize: 5 }, // Adjust page size as needed
                    success: function (data) {
                        $('#productTableContainer').html(data);
                        displayPagination(pageNumber);
                    },
                    error: function () {
                        console.log('Error loading data.');
                    }
                });
            }

            function displayPagination(pageNumber) {
                var pagination = $('#pagination');
                pagination.empty();

                for (var i = 1; i <= @ViewBag.PageCount; i++) {
                    var li = '<li class="page-item rounded' + (i === pageNumber ? ' active' : '') + '"style="background-color: #863F17;" >' +
                        '<a style="background-color: #863F17;" class="page-link border-0 rounded" href="#" data-page="' + i + '">' + i + '</a>' +
                        '</li>';

                    pagination.append(li);
                }

                pagination.find('a').click(function (e) {
                    e.preventDefault();
                    loadProductData($(this).data('page'));
                });
            }
        });
    </script>
}