@model WebApplication1.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";

}

<center>
    <div class="align-content-center">
        <div class="container">
            <div class="card shadow rounded mx-3" style="width: 35rem; border: 1px solid #863F17; background-color: #F8FAE5;">
                <img src="~/Uploads/@Model.ImgUrl" height="300px" class="card-img-top" alt="product Img" />
                <div class="card-body">
                    <form asp-action="Details" method="post">
                        <h2> Name: @Model.Name</h2>
                        <div class="text-start">
                            <p>Description: @Model.Description</p>
                            <p>Count: @Model.Count</p>
                            <p>Price: @Model.Price</p>
                            <p>Category Id: @Model.CategoryId</p>
                        </div>



                        <div class="d-inline-flex gap-1">
                            <a class="btn btn-warning btn-lg" asp-action="Edit" asp-controller="Product" asp-route-id="@Model.Id"> Update </a>
                            <a class="btn btn-secondary btn-lg" asp-action="Index" asp-controller="Product"> Cancel </a>
                            <a class="btn btn-secondary btn-lg" asp-action="AddReview" asp-controller="Product"> Add/Show Reviews </a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>